@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.dashboard {
    background-color: #040c24;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    padding: 20px 30px 20px 30px;
}

.dashboard-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.explanation {
    font-size: 16px;
    margin: 0px 0px 20px 0px;
    text-align: center;
}

.default-fig-title {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0px 6px 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.expense-map-container {
    border: 2px solid #524d94;
    border-radius: 7px;
    margin: 20px 0px 20px 0px;
}

.expense-map-container .expense-map {
    display: flex;
    justify-content: center;
    align-items: center; 
    /* border: 2px solid #ffffff; */
    border-radius: 0px 0px 7px 7px;
    overflow: hidden;
}

.expense-table-container {
    border: 2px solid #524d94;
    border-radius: 7px;
    padding: 5px;
    margin: 20px 0px 20px 0px;
}

.expense-table-container .expense-table {
    height: 200px;
    overflow: hidden;
    border: 1px solid #524d94;
}

.daily-expenses-bar-chart-container {
    border: 2px solid #524d94;
    border-radius: 7px;
    padding: 5px;
    margin: 20px 0px 20px 0px;
}

.daily-expenses-bar-chart-container .daily-expenses-bar-chart {
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: auto;
}

.category-bubble-chart-container {
    border: 2px solid #524d94;
    border-radius: 7px;
    padding: 5px;
    margin: 20px 0px 20px 0px;
}

.category-bubble-chart-container .category-bubble-chart {
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: auto;
}

.footer-container {
    margin: 30px 0px 10px 0px;
    text-align: center;
}

.footer-container a {
    text-decoration: none;
    color: #ffffff;
}

.footer-container a:hover {
  color: rgb(229, 160, 229);
}