@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.dashboard {
    background-color: #040c24;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    padding: 20px 30px 20px 30px;
}

.dashboard-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.explanation {
    font-size: 16px;
    margin: 0px 0px 20px 0px;
    text-align: center;
}

.default-fig-title {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0px 6px 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.default-fig-parent-container {
    border: 2px solid #524d94;
    border-radius: 7px;
    padding: 5px;
    margin: 20px auto;
    max-width: 1200px;
}

.default-fig-parent-container .expense-map {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 7px;
    overflow: hidden;
}

.default-fig-parent-container .expense-table {
    height: 200px;
    overflow: hidden;
    border: 1px solid #524d94;
}

.default-fig-parent-container .daily-expense-chart {
    display: flex;
    justify-content: safe center;
    align-items: center; 
    overflow: auto;
}

.default-fig-parent-container .category-bubble-chart {
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: auto;
}

.bubble-chart-btn {
    padding: 4px 8px;
    border: 1px solid #524d94;
    background-color: #040c24;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.bubble-chart-btn:hover {
    background-color: #1a2550;
}

.bubble-chart-btn.active {
    background-color: #524d94;   /* highlighted */
    color: white;
    border-color: #857df0;
    font-weight: bold;
}

.footer-container {
    margin: 30px 0px 10px 0px;
    text-align: center;
}

.footer-container a {
    text-decoration: none;
    color: #ffffff;
}

.footer-container a:hover {
  color: rgb(229, 160, 229);
}